.about{
    height: calc(100vh);
    position: relative;
    display: flex;
    align-items: center;
    &__container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 65px;
        z-index: 1;
        @include xxl{
            grid-template-columns: 1fr;
        }
    }
    &__description{
        margin: 0;  
        font-size: 30px;
        line-height: 43.5px;
    }
    &__tags{
        margin: 0;
        padding: 0;
        gap: 20px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__list{
        padding: 10px 16px;
        font-size: 30px;
        background-color: #B2141466;
        border-radius: 30px;
        width: fit-content;
    }
}