.anal{
    background-color: #191C27;
    &__container{
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__desc{
        margin: 0 0 40px 0;
    }
}