.case{
    &__container{
        padding: 170px 0 0 0;
    }
    &__list{
        position: relative;
        padding: 0;
        margin: 0;
        height: 610px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__image{
        position: absolute;
        top: -35px;
        bottom: -35px;
        left: 520px;
        height: auto;
    }
    &__button{
        margin: 70px 0 0 0;
    }
    &__item{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        transition: all 0.3s ease-in-out;
        &:nth-child(1){
            border-bottom:  1px solid #fff;
            border-top: 1px solid #fff;
            &:hover{
                border-bottom:  1px solid #B21414;
                border-top: 1px solid #B21414;
            }
        }
        &:hover{
            border-bottom: 1px solid #B21414;
            .case__item-title{
                color: #B21414;
            }
            .case__item-text{
                color: #B21414;
            }
        }
        &-left{
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 460px;
        }
        &-title{
            margin: 0 0 15px 0;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
        }
        &-desc{
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1%;
        }
        &-right{
            display: flex;
            align-items: center;
            gap: 58px;
        }
        &-text{
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
        }
    }
}