.client{
    &__container{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__list{
        margin: 55px 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        @include lg{
            grid-template-columns: repeat(2,1fr);
        }
        @include md{
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}