.dev{
    background-color: #191C27;
    height: calc(100vh);
    position: relative;
    &__container{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__desc{
        margin: 0 0 80px 0;
    }
}