.team{
    position: relative;
    &__container{
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__block{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 55px;
        @include xxl{
            width: 100%;
        }
    }
    &__title{
        margin: 0;
        font-size: 50px;
        text-transform: uppercase;
        &--second{
            color: #B21414;
        }
        @include md{
            font-size: 30px;
        }
    }
    &__desc{
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        color: #E0E1E3;
        @include md{
            font-size: 20px;
        }
    }
}